* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.block-logo-menu {
    display: flex;
    box-sizing: border-box;
}

.block-logo {
    background-color: #F0BE2E;
    width: 100px;
    height: 100px;
}

.block-menu {
    background-color: #F40F0F;
    flex-grow: 1;
    border-bottom: 1px solid black;
}

.block-news-list {
    display: flex;
}

.block-news {
    background-color: #AC4C4C;
    width: 100px;
    height: 300px;
}

.block-list {
    background-color: #F0BE2E;
    height: 300px;
    width: calc(100% - 100px);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.block-news-list-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    width: 100%;
}

.block-footer {
    background-color: #F0BE2E;
    height: 150px;
    border-right: 1px solid black;
}

.block-news-list-footer-nav {
    display: flex;
    justify-content: space-between;
}

.block-nav {
    background-color: #333333;
    height: 450px;
    width: 35%;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block:first-child {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

